keycloak:
  serverUrl: https://keycloak.cloudzcp.io/auth/
  master:
    realm: master
    clientId: master-realm
    clientSecret: 237ef2ad-c5f3-491a-89ab-dab04c8bf268
    username: zcp-admin
    password: Password1!
  
logging:
  level:
    com:
      skcc:
        cloudz:
          zcp: DEBUG
    io:
      kubernetes:
        client: DEBUG
    org:
      hibernate: DEBUG
      keycloak: DEBUG
      springframework:
        security: DEBUG
        web: DEBUG
        
kube:
  client:
    api:
      output:
        pretty: true
  server:
    apiserver:
      endpoint: https://169.56.69.242:23078
    
server:
  port: 8282
zcp:
  keycloak:
    realm: zcp
    token-url: /realms/zcp/protocol/openid-connect/token
  kube:
    namespace: zcp-system

jenkins:
  url: https://jenkins.cloudzcp.io
  token: username:api-token
  template: 
    folder: classpath:jenkins/folder.xml

role:
  cluster:
    cluster-admin:
    - cluster-admin
    member:
  namespace:
    admin:
    - log-manager
    - catalog-manager
    - ${namespace}-admin
    deploy-manager:
    - log-manager
    - ${namespace}-deploy-manager
    developer:
    - ${namespace}-developer
  jenkins:
    admin: ${namespace}-admin
    deploy-manager: ${namespace}-deploy-manager
    developer: ${namespace}-developer