keycloak:
  serverUrl: http://keycloak.cberry.xyz/auth
  master:
    realm: zcp
    clientId: account
    clientSecret: 611c87d9-37f3-4078-b500-542cf419b113
    password: admin1234
    username: 1800275@partner.skcc.com

logging:
  level:
    com:
      skcc:
        cloudz:
          zcp: DEBUG
    org:
      hibernate: DEBUG
      springframework:
        security: DEBUG
        web: DEBUG

kube:
  client:
    api:
      output:
        pretty: true
  server:
    apiserver:
      endpoint: https://169.56.69.242:23078
    
server:
  port: 8282
zcp:
  keycloak:
    realm: zcp
    token-url: /realms/zcp/protocol/openid-connect/token
  kube:
    namespace: zcp-system

jenkins:
  url: https://jenkins.cloudzcp.io
  token: username:api-token
  template: 
    folder: classpath:jenkins/folder.xml

role:
  cluster:
    cluster-admin:
    - cluster-admin
    member:
  namespace:
    admin:
    - log-manager
    - catalog-manager
    - ${namespace}-admin
    cicd-manager:
    - log-manager
    - ${namespace}-cicd-manager
    developer:
    - ${namespace}-developer
  jenkins:
    admin: ${namespace}-admin
    cicd-manager: ${namespace}-cicd-manager
    developer: ${namespace}-developer